
<h1 style="text-align: center; color: blueviolet; font-weight: bold">Contact Us</h1>
<div class="col-md-2"></div>
<div class="col-md-10">
    <div class="container">
      <h3> We'd love to hear from you:</h3>
        <p style="font-size: larger ;font-family: 'Times New Roman', Times, serif; text-align: justify">
               
         
          <br>
          For Feedback and Complaints: 
          <i class="glyphicon glyphicon-envelope"></i>pomannawarpp@gmail.com/kolhe96@gmail.com
          <br>
          Contact:
          <i class="glyphicon glyphicon-earphone"></i> +91-9552566838/8999476667/8149783080
          <br>
          Office:&nbsp;
          "Sunbeam IT Park", Phase 2 of Rajiv Gandhi Infotech Park,Hinjawadi, Pune - 411057, MH-INDIA

        </p>
    </div>
</div>