
<h3 style="text-align: center; color:blueviolet; font-weight: bold">Welcome {{fname}}</h3>
<div class="col-md-2"></div>
<div style="width: 100%;">

    <ul class="nav navbar-nav">
            <li class="active">
                <a routerLink="/password">Change password</a>
            </li>
            <li>
                <a routerLink="/cart"><i class="glyphicon glyphicon-shopping-cart"></i>View Cart</a>
            </li>
            
            <li>
                <a routerLink="/editUser">Edit Profile</a>
            </li>
            <li>
                <a routerLink="/address">Manage Address</a>
            </li>
            <!-- <li>
                <a routerLink="/cart">View Cart</a>
            </li> -->
            <form class="navbar-form navbar-left" action="/action_page.php">
                <div class="input-group">
                  <input [(ngModel)]="title" type="text" class="form-control" placeholder="Search" name="search book by name">
                  <div class="input-group-btn">
                    <button class="btn btn-default" routerLink="/searchBook" type="button">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </div>
                </div>
              </form>
        </ul>
    </div>
<br>
<br>
<br>
<div class="col-md-2"></div>
<div class="col-md-8">
    <h3 style="text-align: center; color: blueviolet; font-weight: bold">Book List</h3>
    <div class="container">
    
        <div class="table-fixed" > 
          <table class="table table-hover">
            <thead>
              <tr style="background-color: gray" >
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publication</th>
                <th>Type</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Image</th>
                <th>Available Qty</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let b of books">
                <td>{{b.b_id}}</td>
                <td>{{b.title}}</td>
                <td>{{b.author}}</td>
                <td>{{b.publication}}</td>
                <td>{{b.type}}</td>
                <td>{{b.isbn}}</td>
                <td>{{b.price}}</td>
                <td>{{b.image}}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{b.count}}</td>
                <!-- <td>
                    <input type="button" class="btn btn-success" value="Issue">
                </td> -->
                
                <td>
                <button type="button" routerLink="/bookDetail/{{b.b_id}}" class="btn btn-danger">View</button>
                </td>
               
              </tr>
            </tbody>
          </table>
        </div>
        </div>
</div>