<h4>Hello Book Lover, What Do You Wish To Read Today? Log in or Sign up to continue browsing</h4>
<div class="col-md-2"></div>
<div class="col-md-10">

    <h3 style="text-align: center; color: blueviolet; font-weight: bold">Book List</h3>
  <div class="container">
  
      <div class="table-fixed" > 
        <table class="table table-hover">
          <thead>
            <tr style="background-color: lightgray" >
              <th>Id</th>
              <th>Title</th>
              <th>Author</th>
              <th>Publication</th>
              <th>Type</th>
              <th>ISBN</th>
              <th>Price</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let b of books">
              <td>{{b.b_id}}</td>
              <td>{{b.title}}</td>
              <td>{{b.author}}</td>
              <td>{{b.publication}}</td>
              <td>{{b.type}}</td>
              <td>{{b.isbn}}</td>
              <td>{{b.price}}</td>
              <td>{{b.image}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
  
  </div>