<h2 style="text-align: center; color: blueviolet">Edit Your Profile</h2>
<div class="col-md-3"></div>
<div class="col-md-9">
<form #myForm="ngForm" (ngSubmit)="OnEditUser(myForm)">
        
        <div class="form-group">
            <label for="u_id">User Id</label>
            <input  type="text" class="form-control" id="u_id" name="u_id" [(ngModel)]="user.u_id" readonly>
        </div>
    
        <div class="form-group">
            <label for="first_name">First Name<span style="color: red" class="required">*</span></label>
            <input required  type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter first_name" [(ngModel)]="user.first_name">
        </div>
    
        <div class="form-group">
            <label for="last_name">Last Name<span style="color: red" class="required">*</span></label>
            <input required type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter last_name" [(ngModel)]="user.last_name">
        </div>

        <div class="form-group" style="width: 20%">
            <label for="age">Age</label>
            <input required class="form-control" id="age" name="age" placeholder="Enter age" [(ngModel)]="user.age">
        </div>

        <div class="form-group">
            <label for="mob_no">Mob</label>
            <input required type="text" class="form-control" id="mob_no" name="mob_no" placeholder="Enter mob_no" [(ngModel)]="user.mob_no">
        </div>

        <div class="form-group">
            <label for="email">Email<span style="color: red" class="required">*</span></label>
            <input required type="email" class="form-control" id="email" name="email" placeholder="Enter email" [(ngModel)]="user.email">
        </div>

        <div class="form-group">
            <label for="password">Password<span style="color: red" class="required">*</span></label>
            <input required type="password" class="form-control" id="password" name="password" placeholder="Enter password" [(ngModel)]="user.password">
        </div>

        <div class="form-group">
            <label for="gender">Gender</label><br>
            <input type="radio" name="gender" value="MALE" [(ngModel)]="user.gender" checked> Male &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="gender" value="FEMALE" [(ngModel)]="user.gender"> Female &nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <div class="form-group">
                <label for="image">Image</label>
                <input type="text" class="form-control" id="image" name="image"placeholder="Upload Pic" [(ngModel)]="user.image">
            </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
        <button style="float: right" type="button" class="btn btn-success" (click)="Cancel()">Cancel</button>
        <br>
        
            
        <span class="label label-warning">{{message}}</span>
       
</form>
</div>
